/* general CSS */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    letter-spacing: 5px;
}

:root {
    --grey: rgb(235, 235, 235);
    --bluishPurp: rgb(17, 148, 171);
}

body {
    background-color: var(--grey);
}



/* Navbar */
.navbar {
    background-color: var(--bluishPurp);
    padding: 25px;
}

#nav-title {
    text-align: center;
    font-size: 30px;
    color: var(--grey);
    font-weight: 100;
}




/* Entire Flex container  */
.entire-container {
    margin: 20px;
    height: 600px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

/* Left side */
.left-side {
    border: 2px solid black;
    height: 600px;
    width: 300px;
}

#searchbar-heading {
    margin: 5px;
}

.search-form {
    margin: 5px;
}

#searchbar-input {
    width: 100%;
}

#search-button {
    width: 100%;
}


/* right side */
.right-side {
    border: 2px solid black;
    width: 700px;
    height: 600px;
}


/* current info block */
.current-city-info-block {
    border: 2px solid black;
    margin: 10px;
    height: 200px;
}

#city-name-and-date {
    font-size: 2rem;
}

#city-name-and-date, #temp, #wind, #humidity, #UV-index {
    margin: 10px;
}


/* five day forecast area */
#five-day-forecast-heading {
    margin: 10px;
}

.five-day-forecast-block {
    display: flex;
    margin: 10px;
}

.forecast-block {
    border: 2px solid black;
    margin: 10px;
    padding: 12px;
}

.date, .temp, .wind, .humidity {
    font-size: 0.6rem;
}