/* general CSS */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    letter-spacing: 3px;
}

:root {
    --grey: rgb(235, 235, 235);
    --aqua: rgb(17, 148, 171);
}

body {
    background-color: var(--grey);
}



/* Navbar */
.navbar {
    background-color: var(--aqua);
    padding: 25px;
}

#nav-title {
    text-align: center;
    font-size: 30px;
    color: var(--grey);
    font-weight: 100;
}




/* Entire Flex container  */
.entire-container {
    margin: 20px;
    height: 600px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

/* Left side */
.left-side {
    border: 2px solid black;
    border-radius: 5px;
    height: 600px;
    width: 300px;
}

#searchbar-heading {
    margin: 5px;
    text-align: center;
    font-weight: 900;
}

.search-form {
    margin: 5px;
}

#searchbar-input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
}

#search-button {
    width: 100%;
    background-color: var(--aqua);
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
}


/* right side */
.right-side {
    width: 700px;
    height: 600px;
}


/* current info block */
.current-city-info-section {
    border: 2px solid black;
    border-radius: 5px;
    margin: 10px;
    height: 200px;
    background-color: var(--aqua);
}

#city-name-and-date {
    font-size: 2rem;
    font-weight: 900;
}

#city-name-and-date, #city-temp, #city-wind, #city-humidity, #city-UV-index {
    margin: 10px;
}


/* five day forecast area */
#five-day-forecast-heading {
    margin: 10px;
    font-size: 1.5rem;
    font-weight: 900;
}

#block-1 {
    margin-left: 0;
}

#block-5 {
    margin-right: 0;
}

.five-day-forecast-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
}

.forecast-block {
    border: 2px solid black;
    border-radius: 5px;
    margin: 10px;
    padding: 12px;
    background-color: var(--aqua);
}

.block-date, .block-temp, .block-wind, .block-humidity {
    font-size: 0.6rem;
    margin-bottom: 10px;
}